body {
    font-family: 'Poppins', sans-serif;
}

.flexible-coontainer {
    display: flex;
    margin-bottom: 150px;
}

h1 {
    font-size: 40px;
}

.main-area {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%
}

.edit-text {
    color: white;
    text-align: center;
}

.button {
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    font-weight: 500;
}

.donate-today {
    text-align: center;
    margin: 5%;
}

section h1 {
    text-align: center;
}

.flex-full {
    text-align: center;
}

.exprience-item {
    width: 40%;
    margin-left: 3%;
    margin-right: 8%;
    padding-left: 26px;
    border-radius: 5px;
    padding-right: 20px;
    margin-top: 40px;
    text-align: justify;
}

#color {
    background-color: rgb(233, 208, 229);
}

#color-full {
    background-color: rgb(211, 231, 224);
}

#color-body {
    background-color: antiquewhite;
}

.from-edit {
    background-color: antiquewhite;
    padding: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.input-edit {
    padding: 20px;
    padding-left: 80px;
}

.edit-email {
    padding: 20px;
}

.input-style {
    padding: 20px;
}

#input {
    padding: 10px;
    width: 30%;
    padding-left
}

.footer-rapper {
    background-color: black;
}

.style-color {
    color: white;
    padding: 2px;
    text-align: center;
    margin-top: 20px;
}